@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add rgb colors here to use as variables in tailwind.config */
@layer base {
  :root {
    --black: 0 0 0;
    --white: 255 255 255;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS RESET */

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value 
 Set the sizing of an element to include it's border */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margin padding to 0 */
* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* CSS RESET END */

body {
  position: relative;
}

#app {
  width: 100vw;
  height: 100vh;
}
